@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

button {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    width: 7rem;
    height: 3rem;
    transition: .2s linear;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header, footer {
    width: 90%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
}

header {
    background-color: #a1a1ff;
}

.data-buttons {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.upload-btn, .export-btn {
    color: #a1a1ff;
    background-color: #fff;
    box-shadow: 0px 10px 20px #000;
}

.upload-btn:hover, .export-btn:hover {
    color: #fff;
    background-color: #a1a1ff;
}

main {
    width: 100%;
}

.controls {
    margin: 3rem auto;
    width: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    display: block;
    width: 70%;
    font-size: 1.1rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: 5px;
    border: 2px solid #999;
    outline: none;
    user-select: none;
}

.add-btn, .submit-btn {
    width: 7rem;
    height: 3rem;
    background-color: #55f;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.1rem;
    letter-spacing: .1rem;
}

.add-btn:hover, .submit-btn:hover {
    background-color: #33f;
}


.table {
    margin: auto;
    width: 75%;
    display: flex;
    flex-direction: column;
    border-left: 0
}

.table-header, .employee-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: 1px solid #999;
    border-right: 0;
}

.table-header-cell, .employee-cell {
    padding: 1% 1% 1% 1%;
    text-align: center;
    width: 8%;
    font-weight: 600;
    word-wrap: break-word;
    border-right: 1px solid #999;
    transition: .2s linear;
    cursor: pointer;
}

.table-header-cell:hover {
    background-color: #ddd;
}

.data-input {
    width: 100%;
}

.employee-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.edit-btn, .delete-btn {
    width: 45%;
    color: #fff
}

.edit-btn {
    background-color: #55f;
}

.edit-btn:hover {
    background-color: #33f;
}

.delete-btn {
    background-color: #f55;
}

.delete-btn:hover {
    background-color: #f33;
}

.modal-wrapper {
    position: fixed;
    width:100%;
    height: 100%;
    background:rgba(0,0,0,.7);
}

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 35%;
    left: 39%;
    width: 26rem;
    height: 12rem;
    text-align: center  ;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, .5);
}

.modal-text {
    padding: 5%;
    margin: auto;
    font-size: 1.2rem;
}

.modal-btns {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-ok-btn {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    margin: auto;
    width: 5rem;
    height: 3rem;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #ca3a52;
    cursor: pointer;
    transition: .1s linear;
}

.modal-ok-btn:hover {
    background-color: #883140;
}

.modal-close-btn {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    margin: auto;
    width: 5rem;
    height: 3rem;
    border: 0;
    border-radius: 5px;
    color: #fff;
    background-color: #2196F3;
    cursor: pointer;
    transition: .1s linear;
}

.modal-close-btn:hover {
    background-color: #327ab6;
}